@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&family=Roboto:wght@100&display=swap');
* {
    
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
    padding: 0;
    margin: 0;
    gap: 0;
}

#college-review-form {
    width: 500px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
  }
  
  label {
    font-weight: bold;
  }
  
  input, textarea, select {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    box-sizing: border-box;
  }
  
  button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #45a049;
  }
  